@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  font-family: "quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -0.003em;
  padding: 70px;
}
.main-menu,
.new-game {
  margin: auto;
  width: 50vh;
  height: 50vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button,
.select-menu {
  width: 350px;
  height: 48px;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: white;
  margin-bottom: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: rgba(62, 59, 59, 0.2);
  box-shadow: 0 5px #3f3d3d;
}
.button:active {
  background-color: rgba(74, 69, 69, 0.132);
  color: white;
  box-shadow: 0 5px #3f3d3d;
  transform: translateY(1px);
}
#repository-link {
  color: black;
  text-decoration: none;
}
.material-icons {
  font-size: 48px !important;
}
.invisible {
  display: none;
}
:root {
  --md-sys-color-primary: black;
}
#gameboard{
  width: 46vw;
  border: 0.5vw solid black;
}
#gameboardCSS{
  height: 45vw;
  width: 45vw;
  border: 0.5vw solid white;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows:  repeat(11, 1fr);
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
}
#cell{
  border-radius: 50%;
  border-color: red;
  border-width: 10px;
  border-style: solid;
  background-color: gray;
  grid-row:1;
  grid-column: 1;
}
.createdcell {
  border-radius: 50%;
  border: 1px solid black;
  background-color: lightgrey;
}
